<page-header [title]="'关于本52ABP框架模板'"></page-header>



<nz-row nzGutter="16">
  <nz-col nzSpan="8">
    <nz-card nzTitle="52ABP框架模板" [nzBordered]="false" [nzExtra]="extraTpl">
      <ng-template #extraTpl>
        <a href="http://www.52abp.com "> More</a>
      </ng-template>
      <p>52ABP项目模板，后端的核心是.NETCORE ，在.NET CORE的基础上使用的了ASP.NET Boilerplate framework 和 Module Zero的模块。</p>
      <P>前端采用的是:NG-ZORRO 和 NG ALAIN 开发的。</P>
      <p>目前已经快速实现了基础功能的开发,本项目会持续的更新和维护下去。</p>

    </nz-card>
  </nz-col>
</nz-row>